BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE:url(bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0c5178; LINE-HEIGHT: 170%; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #427eac
}
.input01 {
	BORDER-RIGHT: #64a5c8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #64a5c8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #64a5c8 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #64a5c8 1px solid; HEIGHT: 15px; BACKGROUND-COLOR: #d9e7f7
}
.input02 {
	BORDER-RIGHT: #98bdd1 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #98bdd1 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #98bdd1 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #98bdd1 1px solid; HEIGHT: 15px
}
.bgbj {
	MARGIN-BOTTOM: 6px
}
#zwbg01 {
	BACKGROUND-IMAGE:url(zw01.gif); BACKGROUND-REPEAT: no-repeat;
}
#zwbg02 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE:url(zw02.gif); PADDING-BOTTOM: 14px; PADDING-TOP: 13px; BACKGROUND-REPEAT: no-repeat;
}
.bjbj02 {
	MARGIN-BOTTOM: 9px
}
.rqz {
	FONT-SIZE: 11px; COLOR: #626262
}
A:link {
	COLOR: #087cc0; TEXT-DECORATION: none
}
A:visited {
	COLOR: #087cc0; TEXT-DECORATION: none
}
A:hover {
	COLOR: #353535; TEXT-DECORATION: none
}
.wzgk {
	FONT-SIZE: 11px
}
.banquan {
	COLOR: #dae7f7
}
A.link01:link {
	COLOR: #e1e7ce; TEXT-DECORATION: none
}
A.link01:visited {
	COLOR: #e1e7ce; TEXT-DECORATION: none
}
A.link01:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.link02:link {
	COLOR: #dae7f7; TEXT-DECORATION: none
}
A.link02:visited {
	COLOR: #dae7f7; TEXT-DECORATION: none
}
A.link02:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.link03:link {
	FONT-SIZE: 14px; COLOR: #0c5178; TEXT-DECORATION: underline
}
A.link03:visited {
	FONT-SIZE: 14px; COLOR: #0c5178; TEXT-DECORATION: underline
}
A.link03:hover {
	FONT-SIZE: 14px; COLOR: #333333; TEXT-DECORATION: none
}
A.link04:link {
	COLOR: #087cc0; TEXT-DECORATION: underline
}
A.link04:visited {
	COLOR: #087cc0; TEXT-DECORATION: underline
}
A.link04:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link05:link {
	COLOR: #912dd2; TEXT-DECORATION: none
}
A.link05:visited {
	COLOR: #912dd2; TEXT-DECORATION: none
}
A.link05:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
A.link06:link {
	COLOR: #07945b; TEXT-DECORATION: none
}
A.link06:visited {
	COLOR: #07945b; TEXT-DECORATION: none
}
A.link06:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
A.link07:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.link07:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.link07:hover {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A.link08:link {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link08:visited {
	COLOR: #ff0000; TEXT-DECORATION: none
}
A.link08:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.link09:link {
	COLOR: #296ab1; TEXT-DECORATION: none
}
A.link09:visited {
	COLOR: #296ab1; TEXT-DECORATION: none
}
A.link09:hover {
	COLOR: #296ab1; TEXT-DECORATION: underline
}
A.link10:link {
	COLOR: #0c5178; TEXT-DECORATION: underline
}
A.link10:visited {
	COLOR: #0c5178; TEXT-DECORATION: underline
}
A.link10:hover {
	COLOR: #333333; TEXT-DECORATION: none
}
.yqlj {
	COLOR: #e1e7ce
}
.tit01 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0990d6
}
#zwbg03 {
	BACKGROUND-POSITION: 50% top; BACKGROUND-IMAGE: url(grzq/bg1.gif); BACKGROUND-REPEAT: no-repeat
}
#zwbg04 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE: url(grzq/bg2.gif); PADDING-BOTTOM: 50px; PADDING-TOP: 18px; BACKGROUND-REPEAT: no-repeat
}
.tit02 {
	FONT-SIZE: 18px; COLOR: #16334f; LINE-HEIGHT: 200%; BORDER-BOTTOM: #d9e0ea 1px solid; FONT-FAMILY: "黑体", "Arial Black"
}
.tit03 {
	COLOR: #ff5a00
}
.tit04 {
	FONT-SIZE: 18px; COLOR: #000000; LINE-HEIGHT: 190%
}
.tit05 {
	FONT-SIZE: 18px; COLOR: #790aea; LINE-HEIGHT: 190%
}
.tit06 {
	COLOR: #790aea
}
#zwbg05 {
	BACKGROUND-IMAGE:url(reg/bg1.gif); BACKGROUND-REPEAT: no-repeat
}
#zwbg06 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE:url(reg/bg2.gif); PADDING-BOTTOM: 50px; BACKGROUND-REPEAT: no-repeat
}
.bk01 {
	BORDER-RIGHT: #d2d2d2 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #d2d2d2 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; BORDER-LEFT: #d2d2d2 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #d2d2d2 1px solid
}
.bk02 {
	BORDER-RIGHT: #9ac1e3 1px solid; BORDER-TOP: #9ac1e3 1px solid; BORDER-LEFT: #9ac1e3 1px solid; BORDER-BOTTOM: #9ac1e3 1px solid
}
.bk03 {
	BORDER-RIGHT: #a1a1a1 1px solid; BORDER-TOP: #a1a1a1 1px solid; BORDER-LEFT: #a1a1a1 1px solid; BORDER-BOTTOM: #a1a1a1 1px solid
}
.tit07 {
	FONT-SIZE: 14px; COLOR: #ffffff
}
.bk04 {
	COLOR: #000000; BORDER-BOTTOM: #376187 1px solid
}
.tit08 {
	COLOR: #ff0000
}
.tit16 {
	COLOR: #296ab1
}
.tit09 {
	FONT-SIZE: 18px; COLOR: #000000; PADDING-TOP: 8px; FONT-FAMILY: "黑体", "Arial Black"
}
.bk05 {
	BORDER-RIGHT: #427eac 1px solid; BORDER-LEFT: #427eac 1px solid
}
.style02 {
	COLOR: #000000
}
.tit10 {
	FONT-SIZE: 16px; COLOR: #000000
}
.tit11 {
	FONT-SIZE: 16px; COLOR: #ffffff; FONT-FAMILY: "Arial Black"
}
.style03 {
	COLOR: #ffffff
}
.tit12 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000
}
.bk06 {
	BORDER-RIGHT: #234d74 1px solid; BORDER-TOP: #234d74 1px solid; BORDER-LEFT: #234d74 1px solid; BORDER-BOTTOM: #234d74 1px solid
}
.bk07 {
	BORDER-RIGHT: #e8e8e8 1px solid; BORDER-BOTTOM: #e8e8e8 1px solid
}
.bk08 {
	BORDER-BOTTOM: #e8e8e8 1px solid
}
.tit13 {
	FONT-SIZE: 18px; COLOR: #ffffff; PADDING-TOP: 8px; FONT-FAMILY: "黑体", "Arial Black"
}
.tit14 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 170%
}
.style04 {
	FONT-SIZE: 14px; COLOR: #044797
}
.input03 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 4px; LINE-HEIGHT: 170%; PADDING-TOP: 4px
}
.tit15 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.bbszw {
	FONT-SIZE: 14px; LINE-HEIGHT: 200%
}
.tit17 {
	FONT-SIZE: 13px
}
.tit18 {
	FONT-SIZE: 14px
}
.text {
	FONT-SIZE: 14px; LINE-HEIGHT: 200%
}
.bg2 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #9ac1e3; BORDER-TOP-COLOR: #9ac1e3; BORDER-BOTTOM: #9ac1e3 1px solid; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #9ac1e3
}
/*---------------- 修改样式 ----------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
img{border:none;}
.name{padding-top:7px;
      line-height:12px;}
.name01{padding-top:10px;
        padding-bottom:8px;
       line-height:12px; }
.rq {font-size: 11px; color: #626262; line-height:11px;}
.sideNews{background:url(2010-4/right_bg01.gif) repeat-y;
          padding-top:12px;}
.sideNews_cont{color:#053159;
               line-height:19px;
			   width:124px;
			   margin-left:10px;}
.sideNews_contlist{border-bottom:1px solid #729fb7;
                  height:43px;
				  padding-top:5px;}
.new_tit08{ color:#4b9f00;}
.area{background:url(2010-4/right_bg01.gif) repeat-y;
      padding-top:14px;}
.areaFriend{width:128px;
            margin-left:10px;
			line-height:0px;}
.areaFriend_list{width:61px;
                 height:16px;
				 background:url(2010-4/right_bg02.gif) no-repeat;
				 line-height:12px;
				 color:#0c5178;
				 padding-top:6px;
				 text-align:center;}
.friendlink{color: #e1e7ce;
            padding:0px 10px 18px 10px;
			background-color:#32597f;
			}
.applylink{color:#dae7f7;
           font-weight:bold;}
.piclink ul{list-style:none;
            padding:0;
			margin:0;
			margin-top:6px;}
.piclink li{float:left;
            padding:0;
			margin:0;
            margin-right:3px;}
.new_tit09{color:#FFFFFF;}
#new_zwbg06 {
	BACKGROUND-POSITION: 50% bottom; BACKGROUND-IMAGE:url(reg/reg_bg.jpg); PADDING-BOTTOM: 60px; BACKGROUND-REPEAT: no-repeat
}
.new_bk02 {
	border-right: #9ac1e3 1px solid; border-top: #9ac1e3 1px solid; border-left: #9ac1e3 1px solid;
	margin-left:8px;
	margin-top:1px;
	background-color:#CADEF0;}
.new_tit10 {font-size:14px; color:#000000;}
.new_input{border:#98bdd1 1px solid; padding:1px 2px; width:218px; height:25px;}
.new_bk03{border-right: #a1a1a1 1px solid; border-left: #a1a1a1 1px solid; border-top:#376187 1px solid;
          margin-top:1px;}
.lxfs{width:760px;
      height:21px;
	  background:url(reg/lxfs.jpg) no-repeat;
	  font-size:14px;
	  color:#FFFFFF;
	  padding-left:98px;
	  padding-top:18px;
	  line-height:14px;}
.new_bk04{border-right: #a1a1a1 1px solid; border-left: #a1a1a1 1px solid; border-bottom:#a1a1a1 1px solid; border-top:#376187 1px solid;}
.article_tit{color:#003c6a;
            font-size:18px;
			font-weight:bold;
			line-height:18px;
			padding-bottom:15px;
			border-bottom:1px dotted #5b8ebd;}
.article_cont{color:#054677;
              font-size:14px;
			  }
.article_cont a{color:#054677;
                text-decoration:none;}
.article_cont a:visited{color:#000000;
                        text-decoration:none;}
.article_cont a:hover{color: #353535;
                      text-decoration:none;}
a.new_link06:link{ color:#296ab1;
                 text-decoration:none;}
a.new_link06:visited {
	color: #07945b; text-decoration: none;
}
a.new_link06:hover {
	color: #999999; text-decoration: none;
}
p{text-indent:2em;}
.list{}
.list td{border-bottom:1px dotted #5b8ebd;
         line-height:30px;}
.fenye{margin-top:28px;}
.fenye a{color:#054677;
         text-decoration:none;}
.fenye a:visited{color:#000000;
                 text-decoration:none;}
.fenye a:hover{color:#000000;
               text-decoration:none;}
.ssjg{width:756px;
      float:left;
	  margin-top:1px;
	  text-align:center;
	  line-height:26px; }
.ssjg_title{font-size:14px;
           color:#000000;
		   height:24px;
		   background:url(2010-4/areafriend_bg.jpg) repeat-x;
		   line-height:24px;
		   border-style:none;}
.area_right{float:left;
        width:160px;
		margin-left:2px;
		margin-top:1px;}
.search{border-left:4px solid #b8e1f5;
        border-right:4px solid #b8e1f5;
		border-bottom:7px solid #b8e1f5;
		background-color:#FFFFFF;
		line-height:24px;} 
.search_list{width:137px;
             margin:0px auto;
			 margin-bottom:8px;}
.search_list ul{list-style:none;
                margin-top:2px;}
.search_list li{float:left;
                margin-right:15px;}
.fenlei{color:#010101;
        padding-top:7px;}
.xux{border-bottom:1px dashed #9acae1;}
.photo_main{border:6px solid #a6c9ea;
            background-color:#FFFFFF;
			width:918px;
			margin-left:9px;
			margin-top:1px;}
.photo_bk01{border:1px solid #234d74;}
.photo_bk01 ul{list-style:none;
               margin-top:8px;}
.photo_bk01 li{float:left;
               margin-left:14px;
			   margin-right:10px;}
.photo_cate1{border-bottom:1px solid #234d74;
             border-right:1px solid #234d74;
			 background-color:#d6e6f3;
			 width:126px;
			 height:170px;
			 line-height:170px;
			}
.photo_cate2{border-right:1px solid #234d74;
             background-color:#d6e6f3;
		     padding-top:130px;}
.person_article{line-height:33px;}
.person_article ul{list-style:none;
                   padding:0;
				   margin:0;
				   margin-left:13px;}
.person_article li{float:left;
                   margin:0;
				   padding:0;
				   margin-right:10px;}
.personArticle_tit{color:#296ab1;
                   font-size:14px;}
.page_input{text-align:center;
           width:22px;
		   height:22px;
		   line-height:22px;
		   color:#014ccc;}
.photo_button01{border-top:1px solid #234d74;
                padding-top:8px;
				padding-bottom:12px;
				text-align:center;}
.photo_button02{padding-top:15px;
                padding-bottom:19px;}
.photo_button02 img{ margin-right:48px;}
.photo_tit{
           font-weight:bold;
		   color:#f6c425;}
.sczp{width:683px;
      height:36px;
	  background-color:#d9e7f7;
	  margin-left:30px;
	  margin-top:6px;
	  margin-bottom:9px;}