.txt {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
}
.txt1 {
	font-family: "宋体";
	font-size: 14px;
	color: #0067A3;
	font-weight: bold;
}
.input {
       width:90px;
       font-size:12px;
	   color:#666666;
	   height:18px;
       border-color:#999999;
	   border-style:solid;
	   border-width:1px;
	   background-color:#ffffff;
}
.dir {
	font-family: "宋体";
	font-size: 12px;
	color: #ffffff;
	text-decoration:none;
}
.input1 {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #BFBFBF;
	font-family: "??";
	font-size: 12px;
	font-weight: normal;
	color: #737373;
}
.input2 {
	font-size:12px;
	color:#737373;
	border-color:#BFBFBF;
	border-style:solid;
	border-width:1px;
	line-height: 18px;
}
.shadow {
	font-size: 12px;
	font-style: normal;
	color: #3F3F3F;
	text-decoration: none;
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=1);
}
a.linkb {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a.linkb:link {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a.linkb:hover {
	font-family: "宋体";
	font-size: 12px;
	color:#FFF000;
	text-decoration: underline;
}
a.linkr {
	font-family: "宋体";
	font-size: 12px;
	color: #4C4C4C;
	text-decoration: none;
}
a.linkr:link {
	font-family: "宋体";
	font-size: 12px;
	color: #4C4C4C;
	text-decoration: none;
}
a.linkr:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #003E9C;
	text-decoration: underline;
}
.unnamed1 {
	font-family: "??";
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}
.unnamed2 {
	font-family: "??";
	font-size: 12px;
	font-weight: normal;
	color: #B6B6B6;
}
a.sec_men {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.sec_men:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.sec_men:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #002798;
	text-decoration: none;
}
a.link1 {
	font-family: "宋体";
	font-size: 12px;
	color: #B6B6B6;
	text-decoration: none;
}
a.link1:link {
	font-family: "宋体";
	font-size: 12px;
	color: #B6B6B6;
	text-decoration: none;
}
a.link1:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
}
.yiyin {
	font-size: 14px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
	filter: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=-1);.input1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2B6391;
}
.input3 {
	font-size: 12px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	height: 22px;
	width: 152px;
	border: 1px solid #7F7F7F;
	padding-top: 4px;
}
a.menulink {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.menulink:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.menulink:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF5400;
	text-decoration: none;
}
.menutxt{
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=-1);
	font-size: 12px;
	color: #000000;
}
.timetxt{
	filter: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=-1);
	font-size: 12px;
	color: #666666;
}
.button1 {
	cursor:hand;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/button_1.gif);
	background-repeat:no-repeat;
	background-position:center center;
	border: none;
	height: 20px;
	width: 80px;
	padding-top: 2px;
}
.button2 {
	cursor:hand;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	height: 20px;
	width: 120px;
	background-image: url(../images/button_2.gif);
	background-repeat:no-repeat;
	background-position:center center;
	border: none;
}
a.info_link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.info_link:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.info_link:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF7200;
	text-decoration: none;
}
a.node {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.node:link {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.node:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF7200;
	text-decoration: none;
}
.cx_input {
	font-size: 12px;
	width:100%;
	font-style: normal;
	color: #003399;
	text-decoration: none;
	padding-top: 2px;
	border: 1px solid #EEEEEE;
}
.cx_time_input {
	font-size: 12px;
	width:40px;
	font-style: normal;
	color: #003399;
	text-decoration: none;
	padding-top: 2px;
	border: 1px solid #EEEEEE;
}
.red_txt {
	font-size: 12px;
	font-style: normal;
	color: #FF0000;
}
a.listtxt {
	font-family: "宋体";
	font-size: 14px;
	color: #0067A3;
	font-weight: bold;
	text-decoration:none;
}
a.listtxt:link {
	font-family: "宋体";
	font-size: 14px;
	color: #0067A3;
	font-weight: bold;
	text-decoration:none;
}
a.listtxt:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration:underline;
}
.zfjc_input {
	font-size: 12px;
	font-style: normal;
	color: #003399;
	text-decoration: none;
	padding-top: 2px;
	border: 1px solid #EEEEEE;
}
a.manager {
	font-family: "宋体";
	font-size: 12px;
	color: #00358A;
	text-decoration: none;
}
a.manager:link {
	font-family: "宋体";
	font-size: 12px;
	color: #00358A;
	text-decoration: none;
}
a.manager:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF7200;
	text-decoration: none;
}
.poptitle {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.table_gaoshi {
	font-size: 12px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #eeeeee;
	border-bottom-color: #eeeeee;
	border-left-color: #eeeeee;
}
